<div class="container">
  <div class="row">
    <%#= render 'public/items/genres', genres: @genres %>
    <div class="col-9">
      <div style="position: relative;">
        <%#= image_tag 'mv', class: "w-100", style: "background-position: center; background-size: cover;" %>
        <p class="text-white" style="padding: 10px; position: absolute; top: 206px; left: 200px;  background: rgba(0,0,0,0.2);">ようこそながのCAKEへ！<br />
          このサイトはケーキ販売のECサイトになります。<br />
          会員でない方も商品の閲覧はできますが、<br />
          購入には会員登録が必要になります。
        <p>
      </div>
      <div class="mt-3">

        </div>
      </div>
    </div>
  </div>
</div>